*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: "Vazir";
    direction: rtl;
    background-color: var(--container-color);
}

ul , li , a {
    text-decoration: none;
    list-style: none;
}

:root {
    --container-color: #C4DEF7;
    --primary-color : #fff;
    --checkbox-color : 
    #cef0d9;
    --time-color : #2d75f7 ;
    --search-color:#3d518f;
    --secondary-color : 
    #f3f4f6;
    --temp-color : #a5a7b5;
    --border-radius : 14px;
    --head-fontsize : 1.5rem;
    --head-fontweight : bold;
    --gap : 12px;
}